


body {
	margin: 0;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #2d3e4f;

	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-moz-font-feature-settings: "liga","kern";
}

/* 文本属性：标题 字号、样式、颜色、背景颜色 */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	color: inherit;
	font-family: inherit;
	line-height: 1.5;
	margin: 0;
}
h1,.h1 { font-size:36px;}
h2,.h2 { font-size:24px; }
h3,.h3 { font-size:20px; }
h4,.h4 { font-size:18px; line-height:1.5555556; }
h5,.h5 { font-size:16px; }
h6,.h6 { font-size:14px; line-height:1.5714285; }
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 { font-weight: normal!important; }





/* 字号 */
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; line-height:1.5714285; }
.f16 { font-size: 16px !important; }
.f18 { font-size: 18px !important; line-height:1.5555556; }
.f20 { font-size: 20px !important; }
.f24 { font-size: 24px !important; }
.f36 { font-size: 36px !important; }
/*字体颜色*/

.txt-cb2b2b2{ color:#b2b2b2;}
.txt-c4877ed{ color:#4877ed;}
.txt-c666{ color:#666;}
.txt-ce15554{ color:#e15554;}
.txt-c999{ color:#999;}
.txt-c5682ee{ color:#5682ee;}
.txt-cfff{ color:#fff;}
.txt-cccc{ color:#ccc;}
/*背景颜色*/
.bg-cfff { background-color: #fff }
.bg-c4877ed { background-color: #4877ed }
.bg-cf2f2f2 { background-color: #f2f2f2;}  /*body background-color
*/
.bg-c333{background-color: #333;}
.bg-cb2c6f7{background-color: #b2c6f7;}
.bg-c1446a0{background-color: #1446a0;}
.bg-c4f74b8{background-color: #4f74b8;}


/*字体图标*/
.iconfont, [class^="icon-"], [class*=" icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  color: #b8c4ce;
  font-style:normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 相对定位 */
.pos { position: relative; }



/*单行文本溢出文本显示省略号*/
.ellipsis {
	display: block; 
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
}



/*头像圆角*/
.avatar img { border-radius:50%; }

.bold { font-weight: bold; }


/*禁用按钮*/
.btn.disabled {
  pointer-events: none;
  cursor: not-allowed;
  /*filter: alpha(opacity=60);*/
  -webkit-box-shadow: none;
          box-shadow: none;
  /*opacity: .60;*/
}
/*无背景按钮*/
.btn_nature { color: #2e81b7; background-color: transparent; }
/*.btn-nature:hover { color: #3498db; }*/

/*橙色按钮*/
.btn_orange { color: #fff; background-color: #e67e22; }
.btn_orange:hover { color: #fff; }
.btn_gray { color: #fff; background-color: #c0c5ca; }
.btn_gray:hover { color: #fff; }
.btn_blue { color: #fff; background-color: #2f81b7; }
.btn_blue:hover { color: #fff; }
.btn_white { color: #e67e22; background-color: #fff; }
.btn_white:hover { color: #e67e22; }
/*.btn-orange:active { background-color: #ee6f1a; }*/

.btn_block { display: block; width: 100%; }


/* 通用容器，定义页面宽度 */
.wpn { width: 1180px; margin: 0 auto;}  	/* 4 列 * 300 */
.wpm { width: 1480px; margin: 0 auto; }  	/* 5 列 * 300 */
.wpw { width: 1780px; margin: 0 auto; } 	/* 6 列 * 300 */

/* 外边距样式，作用于元素的上下外边距 */
.mtn { margin-top: 5px !important; }
.mtm { margin-top: 10px !important; }
.mtw { margin-top: 20px !important; }
.mtv { margin-top: 30px !important; }

.mb0 { margin-bottom: 0px !important; }
.mbn { margin-bottom: 5px !important; }
.mbm { margin-bottom: 10px !important; }
.mbw { margin-bottom: 20px !important; }
.mbv { margin-bottom: 30px !important; }
.mbh { margin-bottom: 40px !important; }
.mrn { margin-right: 5px !important; }
.mrm { margin-right: 10px !important; }
.mrw { margin-right: 20px !important; }
.mrv { margin-right: 30px !important; }


.ml0 { margin-left: 0px !important; }
.ml-11 { margin-left: -11px !important; }
.mln { margin-left: 5px !important; }
.mlm { margin-left: 10px !important; }
.mlw { margin-left: 20px !important; }
.mlv { margin-left: 30px !important; }
.ml60 { margin-left: 60px !important; }

.mtbn { margin: 5px 0 !important; }
.mtbm { margin: 10px 0 !important; }
.mtbw { margin: 20px 0 !important; }
.mtbv { margin: 30px 0 !important; }

.mlrn { margin: 0 5px !important; }
.mlrm { margin: 0 10px !important; }
.mlrw { margin: 0 20px !important; }
.mlrv { margin: 0 30px !important; }


/* 内边距样式，作用于元素的上下内边距，上下各具有 n, m, w 三个级别 */
.ptn { padding-top: 5px !important; }
.ptm { padding-top: 10px !important; }
.ptw { padding-top: 20px !important; }
.ptv { padding-top: 30px !important; }


.pr0 { padding-right:  0px !important; }
.prn { padding-right: 5px !important; }
.prm { padding-right: 10px !important; }
.prw { padding-right: 20px !important; }
.prv { padding-right: 30px !important; }

.pl0 { padding-left: 0px !important; }
.pln { padding-left: 5px !important; }
.plm { padding-left: 10px !important; }
.plw { padding-left: 20px !important; }
.plv { padding-left: 30px !important; }

.pbn { padding-bottom: 5px !important; }
.pbm { padding-bottom: 10px !important; }
.pbw { padding-bottom: 20px !important; }
.pbv { padding-bottom: 30px !important; }

.ptbn { padding: 5px 0 !important; }
.ptbm { padding: 10px 0 !important; }
.ptbw { padding: 20px 0 !important; }
.ptbv { padding: 30px 0 !important; }

.plrn { padding: 0 5px !important; }
.plrm { padding: 0 10px !important; }
.plrw { padding: 0 20px !important; }
.plrv { padding: 0 30px !important; }

.w140 { width: 140px!important; }
.w180 { width: 180px!important; }
.w380 { width: 380px!important; }
.w800 { width: 800px!important; }
.w300 { width: 300px!important; }
.w280 { width: 280px!important; }
.w580 { width: 580px!important; }
.w880 { width: 880px!important; }
.h204 { height: 204px!important; }

.line_top { border-top: 1px solid #bdc3c7; }
.line_bottom { border-bottom: 1px solid #ecf0f1; }
.bg_gray{
	background-color: #ecf0f1!important;
}
/* 占位符 */
.placeholder { background: url("../img/placeholder.png") no-repeat center center; 
	    width: 100%;
	    height: 520px;
	    background-size: 15%;}
/*加载旋转*/
.loading{background: url("../img/loading.svg") no-repeat center center; 
	background-size: 40px; color: #fff;
	position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 99;
}
/*自旋*/
.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
