/*!
 * description: 弹框
 * require: uicn.css
 * relevancy: modal.js
 *
 * date: 2015-08-27 
 * update: (2015-XX-XX XX:XX)
 */
.modal-open { overflow: hidden; }
.modal-open .modal { overflow-x: hidden; overflow-y: auto; }
.modal-backdrop { visibility: hidden; opacity: 0; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 100; background-color: rgba(0,0,0,.5); 
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;}
.modal-open .modal-backdrop { visibility: visible; opacity: 1; }
.modal { visibility: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 101; }
.modal .modal-effect { position: relative; width: auto; 
	opacity: 0;
    -webkit-transform: scale(0.7);
       -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;}
.modal.in { visibility: visible; }
.modal.in .modal-effect { opacity: 1; 
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);}
.modal-dialog {position: absolute; width: auto; }
.modal .modal-effect > div { position: relative; background-color: #fff; }
.modal .modal-effect .icon-close { position: absolute; cursor: pointer; }
