.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;box-shadow:none;
           
}
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    outline: none;box-shadow:none;
           
}
.avata_up{height: 32px;width: 84px;}
.avata_up input{ position: absolute;top:0;left:0px;width: 84px;height: 32px;z-index: 1;cursor: pointer;opacity: 0;filter: alpha(opacity=50);}
.avata_up .btn-success{ cursor: pointer; position: absolute;top:0;left:0px;line-height: 32px; width: 84px;height: 32px;padding: 0;}
.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
  line-height: 32px;
}

.avatar-upload input {
  display: block;
}

.avater-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}
.btn-success {
    font-size: 14px;
    color: #fff;
    border-color: #3499da;
    background-color: #3499da;
    line-height: 1.42857143;
    height: 32px;
    padding: 6px 12px;
}
.btn-success:focus
{
    color: #fff;
    border-color:#3691cb;
    background-color: #3691cb;
}.btn-success:hover
{
    color: #fff;
    border-color: #3691cb;
    background-color: #3691cb;
}
